<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Home | GoDuck</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src="static/js/home.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <!-- Navbar text-->
      <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
        Home
      </span>
    </nav>
  </header>

  <main>
    <!-- Page Content-->
    <div class="container-fluid">
      <div class="row">
          <!-- Fixed Sidebar-->
          <div class="sidebar col-sm-2 px-1 bg-success">
              <div class="py-2 sticky-top flex-grow-1">
                  <div class="nav flex-sm-column">
                    <!-- User Profile-->
                    <div class="user_information">
                      <img src="#">
                      <p>user_name</p>
                    </div>
                    <!-- Buttons -->
                    <button type="button" class="home_button">Home</button>
                    <button type="button" class="study_set_button">Study Sets</button>
                    <button type="button" class="favorite_news_button">Favorite News</button>
                    <button type="button" class="history_button">History</button>
                    <button type="button" class="logout_button">Logout</button>
                  </div>
              </div>
          </div>

          <!-- Main Page Content-->
          <div class="col" id="home_main">
            <!-- <h1>News Selections Just For You</h1>

            <ul>
              {{#each news}}
                <li>{{title}} <i><a href="{{source}}" target="_blank">Source article</a></i></li>
              {{/each}}
            </ul>


            <h1>Study Sets</h1>
            <ul>
              {{#each news}}
                <li>{{title}} <i><a href="{{source}}" target="_blank">Source article</a></i></li>
              {{/each}}
            </ul> -->

            <div class="row">
              <div class="col">
                <h1>News Selections Just For You</h1>
              </div>
            </div>
            <div class="row">       
              {{#each news}}
                <div class="col-1"></div>
                <div class="col news" style="border:2px solid">
                  {{title}} <br>
                    <i><a href="{{source}}" target="_blank">Source article</a></i>
                </div>
              {{/each}}  
              <div class="col-1"></div>
              <div class="col" style="border:2px solid">
                test <br>
                <i><a href="#" target="_blank">Source article</a></i>
              </div>
              <div class="col-1"></div>        
            </div>
          </div>
      </div>
    </div>
  </main>
	
	

</body>
</html>
