<!--
    Copyright 2019
    GoDuck home page handlebars template

    This file contains handlebars template which is used for Node.js express
    framework to render home page. handlebars variable are dynamically
    replaced by Firebase data which preprocessed by backend business logic
    produced in server index.js.
 -->

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Home | GoDuck</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src="static/js/home.js"></script>
  <script src="static/js/intro.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/share.css">
  <link rel="stylesheet" href="static/css/home.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/introjs.css">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {{> header}}

  <main>
    <!-- Page Content-->
		<div id="home_main" class="container-fluid mainContent" data-intro="Hi, welcome to DuoNews. Let's walk you thourgh the app and get familiar with it. You can choose to skip this tutorial and play aournd by yourself." data-step="1">
      <div class="row" style="height: 100%;">
          {{> sidebar}}

          <!-- Main Page Content-->
          <div class="col">
            <div class="row sloganDiv">
              <div class="col">
			        	<h1 class="header" id="slogan">Catch up with latest news while learning ESL...</h1>
                <h4 style="font-family: sans-serif">Personalized news recommended for you:</h4>
              </div>
            </div>
            <div class="row" style="margin-left: 10px; margin-right: 35px;">
            {{#each l}}
              <div class="col-6">
                <div class="row" style="margin-right: 0px;">
                  <div class="col news newsBox" data-intro="Here are the news recommendation based on your preference, you can change it in your profile" data-step="3">
                    <div class="row">
                      <div class="col">
                        <p class="newsBoxTitle">{{title}}</p><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <button class="news-button" data-nid="{{content_id}}" data-intro="Click here to read the news" data-step="4">Read News</button><br>
                        <a class="link" href="{{source}}" target="_blank" data-intro="Click here to view the source article" data-step="5">Source article</a>
                      </div>
                      <div class="col-4" style="left: 8px;top: 50px;">
                        <div class="favor-heart" is-favor="{{isFavor}}" style="text-align: right">
                        {{#if isFavor}}
                          <!-- <i class="fas fa-heart" style="color: red"></i>-->
                          <button type="button" class="unfavor_button" style="background:none; border:none;"><i class="fas fa-heart"style="color: red;"></i></button>
                          <button type="button" class="add_favor_button" style="background:none; border:none;display:none;"><i class="far fa-heart"></i></button>
                        {{else}}
                          <!-- <i class="far fa-heart" data-intro="Click here to add this article to your favorite news list. That all the basic steps to use the app, enjoy!" data-step="6"></i>-->
                          <button type="button" class="unfavor_button" style="background:none; border:none;display:none;" ><i class="fas fa-heart"style="color: red;"></i></button>
                          <button type="button" class="add_favor_button" style="background:none; border:none;"data-intro="Click here to add this article to your favorite news list. That all the basic steps to use the app, enjoy!" data-step="6"><i class="far fa-heart"></i></button>
                        {{/if}}
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            </div>
            <div class="row" style="margin-left: 10px; margin-right: 35px;">
            {{#each r}}
              <div class="col-6">
                <div class="row" style="margin-right: 0px;">
                  <div class="col news newsBox" data-intro="Here are the news recommendation based on your preference, you can change it in your profile" data-step="3">
                    <div class="row">
                      <div class="col">
                        <p class="newsBoxTitle">{{title}}</p><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <button class="news-button" data-nid="{{content_id}}" data-intro="Click here to read the news" data-step="4">Read News</button><br>
                        <a class="link" href="{{source}}" target="_blank" data-intro="Click here to view the source article" data-step="5">Source article</a>
                      </div>
                      <div class="col-4" style="left: 8px;top: 50px;">
                        <div class="favor-heart" is-favor="{{isFavor}}" style="text-align: right">
                        {{#if isFavor}}
                          <!-- <i class="fas fa-heart" style="color: red"></i>-->
                          <button type="button" class="unfavor_button" style="background:none; border:none;"><i class="fas fa-heart"style="color: red;"></i></button>
                          <button type="button" class="add_favor_button" style="background:none; border:none;display:none;"><i class="far fa-heart"></i></button>
                        {{else}}
                          <!-- <i class="far fa-heart" data-intro="Click here to add this article to your favorite news list. That all the basic steps to use the app, enjoy!" data-step="6"></i>-->
                          <button type="button" class="unfavor_button" style="background:none; border:none;display:none;" data-intro="Click here to add this article to your favorite news list. That all the basic steps to use the app, enjoy!" data-step="6"><i class="fas fa-heart"style="color: red;"></i></button>
                          <button type="button" class="add_favor_button" style="background:none; border:none;"><i class="far fa-heart"></i></button>
                        {{/if}}
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            </div>
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
              <div style="position: fixed;top: 15vw;right: 30vw;">
                <div class="toast" id="addFavorToast" data-delay="1500">
                  <div class="toast-header">
                    Success!
                  </div>
                  <div class="toast-body">
                    You have added this news into your favorite news!
                  </div>
                </div>
                <div class="toast" id="unfavorToast" data-delay="1500">
                  <div class="toast-header">
                    Success!
                  </div>
                  <div class="toast-body">
                    You have removed this news from your favorite news!
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>



</body>
</html>
