<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Study Set</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src='static/js/studyset.js'></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/share.css">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav style="background-color: #00BCD4 !important" class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <!-- Navbar text-->
      <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
        Study Sets
      </span>
    </nav>
  </header>

  <main>
    <!-- Page Content-->
    <div  class="container-fluid" style="height: 100%; position: absolute">
      <div class="row" style="height: 100%;">
          {{> sidebar}}

          <!-- Main Page Content-->
          <div class="col" id="studyset_main">
            <h1>Study Set 1</h1>
            <div id="notebook1">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    {{#each studysets}}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{en}}</h4>
                        <p class="list-group-item-text">Spanish: {{es}}</p>
                        <p class="list-group-item-text">Hindi: {{hi}}</p>
                        <p class="list-group-item-text">Chinese: {{zh}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <ul class="pagination">
                <li class="page-item disabled" id="prev"><a class="page-link">Previous</a></li>
                <li class="page-item active" id="page1"><a class="page-link">1</a></li>
                <li class="page-item" id="lastPage"><a class="page-link">{{totalPageNums}}</a></li>
                <li class="page-item" id="next"><a class="page-link">Next</a></li>
            </ul>
          </div>

      </div>
    </div>
  </main>

</body>
</html>
