<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Study Set</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src='static/js/studyset.js'></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/share.css">
  <link rel="stylesheet" href="static/css/studyset.css">

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {{> header}}

  <main>
    <!-- Page Content-->
    <div  class="container-fluid mainContent">
      <div class="row" style="height: 100%;">
          {{> sidebar}}

          <!-- Main Page Content-->
          <div class="col" id="studyset_main">
            <div class="row sloganDiv">
              <div class="col">
                <h1 class="header">Study Set</h1>
              </div>
            </div>
            <div class="col">
            <ul class="pagination" style="margin-top: -5%">
                <li class="page-item disabled" id="upper_prev"><button class="page-link">Previous</button></li>
                <li class="page-item active" id="upper_page1"><button class="page-link">1</button></li>
                <li class="page-item" id="upper_lastPage" style="display:none;"><button class="page-link">{{totalPageNums}}</button></li>
                <li class="page-item disabled" id="upper_next"><button class="page-link">Next</button></li>
            </ul>
            <div class="notebook" id="notebook1">
                <ul class="list-group" id="word_list">
                  {{#if isEs}}
                    {{#each studysets}}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{en}}</h4>
                        <p class="list-group-item-text">Spanish: {{es}}</p>
                    </li>
                    {{/each}}
                  {{/if}}
                  {{#if isHi}}
                    {{#each studysets}}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{en}}</h4>
                        <p class="list-group-item-text">Hindi: {{hi}}</p>
                    </li>
                    {{/each}}
                  {{/if}}
                  {{#if isZh}}
                    {{#each studysets}}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{en}}</h4>
                        <p class="list-group-item-text">Chinese: {{zh}}</p>
                    </li>
                    {{/each}}
                  {{/if}}
                </ul>
            </div>

            <ul class="pagination" style="margin-top: 2%">
                <li class="page-item disabled" id="prev"><button class="page-link">Previous</button></li>
                <li class="page-item active" id="page1"><button class="page-link">1</button></li>
                <li class="page-item" id="lastPage" style="display:none;"><button class="page-link">{{totalPageNums}}</button></li>
                <li class="page-item disabled" id="next"><button class="page-link">Next</button></li>
            </ul>
            </div>
          </div>

      </div>
    </div>
  </main>

</body>
</html>
